// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/* Linux runtime-only pieces for Vivid Unit. */

/ {
	vividunit,dtb-build = "2026-03-13 kernel-split";

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <1000>;
		};

		vol-down-key {
			label = "volume down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <170000>;
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&pwrbtn>;

		power {
			debounce-interval = <100>;
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			label = "GPIO Key Power";
			linux,code = <KEY_POWER>;
			wakeup-source;
		};
	};

	leds {
		status = "okay";
		compatible = "gpio-leds";
		work_led: work-led {
			label = "work-led";
			gpios = <&gpio4 21 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "mmc0";
			default-state = "on";
		};
	};

	clkin_gmac: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "clkin_gmac";
		#clock-cells = <0>;
	};

	dummy_regulator: dummy-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-always-on;
		regulator-max-microvolt = <3000000>;
		regulator-min-microvolt = <3000000>;
		regulator-name = "dummy_regulator";
		vin-supply = <&vcc_sdio>;
	};

	vcc1v8_s3: vcca1v8_s3: vcc1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_1v8>;
	};

	vcc3v0_sd: vcc3v0-sd {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc0_pwr_h>;
		regulator-always-on;
		regulator-max-microvolt = <3000000>;
		regulator-min-microvolt = <3000000>;
		regulator-name = "vcc3v0_sd";
		vin-supply = <&vcc3v3_sys>;
	};

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PA0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		regulator-name = "vcc5v0_host";
		regulator-always-on;
		vin-supply = <&vcc_sys>;
	};

	vcc5v0_typec: vcc5v0-typec-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PA3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_typec_en>;
		regulator-name = "vcc5v0_typec";
		regulator-always-on;
		vin-supply = <&vcc_sys>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_1v8_pcie: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_pcie";
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_0v9_pcie: vcc-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_0v9_pcie";
		regulator-always-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
	};

	vcc3v3_pcie: vcc3v3-pcie {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie";
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc12v_dummy: vcc12v-dummy {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dummy";
		regulator-always-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk808 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		reset-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
	};

	test-power {
		status = "okay";
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6212";
		sdio_vref = <1800>;
		WIFI,host_wake_irq = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk808 1>;
		clock-names = "ext_clock";
		uart_rts_gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart0_rts>, <&bt_reg_on_h>, <&bt_host_wake_l>, <&bt_wake_l>;
		pinctrl-1 = <&uart0_rts>;
		BT,reset_gpio = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio = <&gpio2 RK_PD2 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	dmic_codec: dmic-codec {
		compatible = "dmic-codec";
		num-channels = <2>;
		#sound-dai-cells = <0>;
	};

	dmic_sound: dmic-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rk-dmic-sound";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,bitclock-master = <&dmic_cpu>;
		simple-audio-card,frame-master = <&dmic_cpu>;
		dmic_cpu: simple-audio-card,cpu {
			sound-dai = <&i2s1>;
		};
		dmic_codec_link: simple-audio-card,codec {
			sound-dai = <&dmic_codec>;
		};
	};

	es8316-sound {
		compatible = "simple-audio-card";
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det_pin>;
		simple-audio-card,name = "rockchip,es8316-codec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphones",
			"Speaker", "Speaker";
		simple-audio-card,routing =
			"MIC1", "Mic Jack",
			"Headphones", "HPOL",
			"Headphones", "HPOR",
			"Speaker Amplifier INL", "HPOL",
			"Speaker Amplifier INR", "HPOR",
			"Speaker", "Speaker Amplifier OUTL",
			"Speaker", "Speaker Amplifier OUTR";

		simple-audio-card,hp-det-gpio = <&gpio3 30 GPIO_ACTIVE_HIGH>;
		simple-audio-card,aux-devs = <&speaker_amp>;
		simple-audio-card,pin-switches = "Speaker";

		simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&es8316>;
		};
	};

	speaker_amp: speaker-amplifier {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&gpio3 29 GPIO_ACTIVE_HIGH>;
		sound-name-prefix = "Speaker Amplifier";
		VCC-supply = <&vcc_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&speaker_amp_en>;
	};
};

/* touch screen */
&i2c4 {
	i2c-scl-rising-time-ns = <600>;
	i2c-scl-falling-time-ns = <20>;
	status = "okay";

	gt1x: gt1x@14 {
		compatible = "goodix,gt1151";
		reg = <0x14>;
		interrupt-parent = <&gpio1>;
		interrupts = <20 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
		goodix,ic_type = "gt1151q";
		pinctrl-names = "default";
		pinctrl-0 = <&touch_io>;
		power-supply = <&vcc3v0_tp>;
	};
};

&gmac {
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&clkin_gmac>;
	clock_in_out = "input";
	phy-supply = <&vcc_lan>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;
	tx_delay = <0x28>;
	rx_delay = <0x11>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&hdmi {
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_i2c_xfer>, <&hdmi_cec>;
	#sound-dai-cells = <0>;
	status = "okay";
};

&pcie_phy {
	status = "okay";
};

&pcie0 {
	status = "okay";
	ep-gpios = <&gpio4 RK_PD3 GPIO_ACTIVE_LOW>;
	max-link-speed = <2>;
	num-lanes = <4>;
	pinctrl-0 = <&pcie_clkreqnb_cpm>;
	pinctrl-names = "default";
	vpcie0v9-supply = <&vcc_0v9_pcie>;
	vpcie1v8-supply = <&vcc_1v8_pcie>;
	vpcie3v3-supply = <&vcc3v3_pcie>;
	vpcie12v-supply = <&vcc12v_dummy>;
	reset-delay-us = <100000>;
};

&i2s0 {
	status = "okay";
	rockchip,playback-channels = <2>;
	rockchip,capture-channels = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_2ch_bus>;
};

&i2c1 {
	clock-frequency = <100000>;
	i2c-scl-falling-time-ns = <4>;
	i2c-scl-rising-time-ns = <168>;
	status = "okay";

	es8316: es8316@10 {
		#sound-dai-cells = <0>;
		compatible = "everest,es8316";
		reg = <0x10>;
		clocks = <&cru SCLK_I2S_8CH_OUT>;
		clock-names = "mclk";
	};
};

&i2s1 {
	status = "okay";
	rockchip,clk-trcm = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1_1ch_bus>;
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	i2c-scl-rising-time-ns = <450>;
	i2c-scl-falling-time-ns = <15>;
	status = "disabled";
};

&i2c7 {
	status = "okay";
};

&isp0_mmu {
};

&isp1_mmu {
};

&mipi_dphy_rx0 {
};

&pwm0 {
	status = "okay";
};


/*
 * Keep the built-in portrait panel on VOPL -> DSI, and restore the external
 * display path on VOPB -> HDMI so Linux can expose both connectors.
 */
&display_subsystem {
	status = "okay";
	ports = <&vopl_out>, <&vopb_out>;
	route {
		route_dsi: route-dsi {
			status = "okay";
			connect = <&vopl_out_mipi>;
		};

		route_hdmi: route-hdmi {
			status = "okay";
			connect = <&vopb_out_hdmi>;
		};
	};
};

&mipi_in_vopl {
	status = "okay";
};

&mipi_in_vopb {
	status = "disabled";
};

&vopl {
	status = "okay";
};

&vopl_mmu {
	status = "okay";
};

&vopl_out {
	status = "okay";
};

&vopl_out_mipi {
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopb_out {
	status = "okay";
};

&vopb_out_mipi {
	status = "okay";
};

/*
 * Restore explicit CPU regulator bindings in the kernel DTB. These were
 * present in the previously known-good boot DTB and should not be left to
 * chance when the base rk3399.dtsi changes.
 */
&cpu_l0 { cpu-supply = <&vdd_cpu_l>; };
&cpu_l1 { cpu-supply = <&vdd_cpu_l>; };
&cpu_l2 { cpu-supply = <&vdd_cpu_l>; };
&cpu_l3 { cpu-supply = <&vdd_cpu_l>; };
&cpu_b0 { cpu-supply = <&vdd_cpu_b>; };
&cpu_b1 { cpu-supply = <&vdd_cpu_b>; };


&saradc {
	vref-supply = <&vcca1v8_s3>;
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <1>;
	status = "okay";
};

&spi1 {
	max-freq = <10000000>;
	status = "okay";
	spiflash: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <10000000>;
	};
};

&spi2 {
	status = "disabled";
	max-freq = <10000000>;
};

&sdmmc {
	broken-cd;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	no-sdio;
	no-emmc;
	clock-frequency = <150000000>;
	disable-wp;
	sd-uhs-sdr104;
	max-frequency = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;
	vmmc-supply = <&vcc3v0_sd>;
	vqmmc-supply = <&vcc_sdio>;
	status = "okay";
};

&sdio0 {
	clock-frequency = <50000000>;
	clock-freq-min-max = <200000 50000000>;
	no-sd;
	no-mmc;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4 &sdio0_cmd &sdio0_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer &uart0_cts &uart0_rts>;
	status = "okay";
};

&tcphy0 {
	status = "okay";
};

&tcphy1 {
	status = "okay";
};

&u2phy0 {
	status = "okay";
	u2phy0_otg: otg-port {
		status = "okay";
	};

	u2phy0_host: host-port {
		status = "okay";
	};
};

&u2phy1 {
	status = "okay";

	u2phy1_otg: otg-port {
		status = "okay";
	};

	u2phy1_host: host-port {
		status = "okay";
	};
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	status = "okay";
	dr_mode = "host";
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	status = "okay";
	dr_mode = "host";
};

&pinctrl {
	dmic {
		i2s1_1ch_bus: i2s1-1ch-bus {
			rockchip,pins =
				<4 RK_PA3 1 &pcfg_pull_none>,
				<4 RK_PA4 1 &pcfg_pull_none>,
				<4 RK_PA5 1 &pcfg_pull_none>,
				<4 RK_PA6 1 &pcfg_pull_none>;
		};
	};

	sd {
		sdmmc0_pwr_h: sdmmc0-pwr-h {
			rockchip,pins = <0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb2 {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb-typec {
		vcc5v0_typec_en: vcc5v0_typec_en {
			rockchip,pins = <1 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wifi_enable_h_mainboard: wifi-enable-h-mainboard {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		bt_reg_on_h: bt-reg-on-h {
			rockchip,pins = <0 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		bt_host_wake_l: bt-host-wake-l {
			rockchip,pins = <0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_down>;
		};
		bt_wake_l: bt-wake-l {
			rockchip,pins = <2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	buttons {
		pwrbtn: pwrbtn {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	touch {
		touch_io: touch-io {
			rockchip,pins =
				<1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>,
				<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	es8316 {
		hp_det_pin: hp-det-pin {
			rockchip,pins = <3 30 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		speaker_amp_en: speaker-amp-en {
			rockchip,pins = <3 29 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
